@font-face {
  font-family: 'Chewy';
  src: url('/assets/fonts/chewy/webfont.eot');
  src: url('/assets/fonts/chewy/webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/chewy/webfont.woff2') format('woff2'),
       url('/assets/fonts/chewy/webfont.woff') format('woff'),
       url('/assets/fonts/chewy/webfont.ttf') format('truetype'),
       url('/assets/fonts/chewy/webfont.svg#chewyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}