extends layouts/main

block variables
  - docTitle = "Zuma - Home page"

block content
  .overlay

  .check-fonts
    p.check-font-1 1

  canvas#canvas.poligon(width="960", height="540")

  .orientation-msg-container(data-orientation="landscape")
    p.orientation-msg-text Please rotate your device

  .game-block