block variables
  
include ../includes/mixins/index

doctype
html(lang="en-US")
  head
    meta(name="msapplication-tap-highlight" content="no")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    title= docTitle

    +assets('css', 'style')

    +script('/assets/vendors/createjs-2015.11.26.min.js')
    +script('/assets/vendors/howler.min.js')
    
    +assets('js', 'main', 'module')

    block headerStyles

    block headerScripts
  body

    block content
    
    block footerScripts