body
  background-color: #000 !important

.xxx-game-iframe-iphone-se
  height: 226px !important

.xxx-ios-fullscreen-message
  top: 0px
  left: 0px
  z-index: 10000
  position: fixed

  display: none

  width: 100vw
  height: 100vh

  background-color: rgba(0, 0, 0, 0.5)

  user-select: none
  touch-action: none
  -webkit-touch-callout: none

.xxx-ios-fullscreen-scroll
  top: 0
  left: 0
  z-index: 10001
  position: absolute

  display: none

  width: 100vw
  height: 120vh
  
  user-select: none
  touch-action: none
  -webkit-touch-callout: none

.xxx-ios-fullscreen-swipe
  top: 50%
  left: 50%
  position: absolute

  width: 30%
  height: 30%

  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  background-image: url(../sprites/swipe.png)

  transform: translate( -50%, -50%) !important
  
  animation: xxx-animation-ios-swipe 1.5s ease infinite

  user-select: none
  touch-action: none

  -webkit-touch-callout: none

@keyframes xxx-animation-ios-swipe
  0%,
  100%
    top: 40%
  50%
    top: 60%