root
  display: block

body
  background-position: top
  background-repeat: repeat-x
  background-color: #9a6600

*,
*:before,
*:after
  user-select: none

input,
input:before,
input:after
  user-select: initial

::selection
  color: inherit
  background: transparent

::-moz-selection
  color: inherit
  background: transparent

#canvas
  position: fixed

canvas
  image-rendering: optimizeSpeed

  -ms-touch-action: none
  -ms-interpolation-mode: nearest-neighbor

.poligon
  outline: none
  user-select: none

  -webkit-perspective: 1000
  -webkit-touch-callout: none
  -webkit-backface-visibility: hidden
  -webkit-tap-highlight-color: transparent

.check-fonts
  position: fixed
  
  opacity: 0

.check-font-1
  font-family: 'Chewy'

.overlay
  top: 0
  left: 0
  position: fixed

  width: 100%
  height: 100%

  background-color: transparent

.game-block
  top: 0
  left: 0
  position: fixed

  display: none

  width: 100%
  height: 100%
  
  background-color: transparent