.orientation-msg-container
  position: fixed

  display: none

  width: 100%
  height: 100%
  
  background-color: #000

.orientation-msg-text
    top: 50%
    position: fixed

    width: 80%

    color: #fff
    font-size: 40px
    text-align: center
    font-family: "Arial"

    transform: translate(15%, -50%)

@media (max-width: 767px)
  .orientation-msg-text
    font-size: 30px

@media (max-width: 500px)
  .orientation-msg-text
    font-size: 30px